<!DOCTYPE html>
<html lang="es">
<head>
    <title>Iniciar sesión</title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="login">
        <%- include('../partials/header') %>
        <section class="container">
            <div class="divContainer">
                <h1>Iniciar sesión</h1>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>