<!DOCTYPE html>
<html lang="es">
<head>
    <title>Iniciar sesión</title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="login">
        <%- include('../partials/header') %>
        <section class="container">
            <div class="divContainer">
                <h1>Iniciar sesión</h1>
                <form action="/user/login" method="POST">
                    <div class="divDatos">
                        <input type="text" name="usuario" class="inputUser" placeholder="Usuario" required>
                        <input type="password" name="contraseña" class="inputUser" placeholder="Contraseña" required>
                        <i class="ojitoAct fas fa-eye-slash" id="ocultarContraseña"></i>
                        <i class="ojitoDes fas fa-eye" id="verContraseña"></i>
                    </div>
                    <div class="divRecordarme">
                        <input type="checkbox" id="recordarme" name="recordarme" value="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>
                    <small class="error"></small>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>