footer {
    background-color: var(--celeste);
}

footer section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

footer section button.homeNav {
    background-color: transparent;
    margin-left: 20px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
}

footer section button.homeNav a {
    color: var(--negro);
}

footer section div.info {
    display: flex;
    margin: 10px 20px;
}

footer section div.info p {
    font-size: 12px;
}

footer section div.info p.ubic {
    margin-right: 20px;
}

footer section div.redes {
    display: flex;
    margin-right: 20px;
}

footer section div.redes a {
    color: var(--negro);
    margin-right: 10px;
}

@media (min-width: 768px) {

    footer section button.homeNav a i:hover {
        color: var(--fondo2);
        transition: all .2s;
    }

    footer section div.info p {
        font-size: 16px;
        margin-right: 50px;
    }

    footer section div.redes i {
        font-size: 25px;
    }

    footer section button.homeNav {
        font-size: 22px;
    }

    footer section div.redes a:hover {
        color: var(--fondo2);
        transition: all .2s;
    }
}