<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear presupuesto</title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="crear">
        <%- include('../partials/header') %>
        <section class="container">
            <h1>Crear presupuesto</h1>
            <div class="divContainer">

            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>