<header class="headerNav">
    <nav class="navContacto">
        <section>
            <div class="info">
                <p class="ubic"><i class="fas fa-map-marker-alt"></i> Olivos</p>
                <p class="horarios"><i class="far fa-clock"></i> Horario: Lunes a Sábados, 08:00hs a 18:00hs.</p>
            </div>
            <div class="redes">
                <a href="https://api.whatsapp.com/send?phone=%2B541149690574&fbclid=IwAR2k4kwXCL_twHJzSU76YytvxZCUsmtwm9qo3VVLDv0mX5ckcl7dJ_kGTXY"><i class="wpp fab fa-whatsapp-square"></i></a>
                <a href="https://www.facebook.com/garayaldefederico"><i class="fab fa-facebook-square"></i></a>
                <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=fedegar92@hotmail.com.ar"><i class="fas fa-envelope-square"></i></a>
            </div>
        </section>
    </nav>
    <section class="hSectionGeneral">
        <div class="headerContainer">
            <div class="logoDiv">
                <a href="/">
                    <img src="../../images/logo2.png" alt="Logo de Break Refrigeracion" />
                </a>
            </div>
            <form class="buscadorForm" action="/buscar" method="GET">
                <input type="text" name="buscar" placeholder="Buscar presupuesto..." />
                <button class="bttnBuscar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="navDivMobile">
                <button class="bttnBurger" id="bttnBurger">
                    <i class="fas fa-bars"></i>
                </button>
                <button class="bttnBurger bttnClose" id="bttnBurgerClose">
                    <i class="fas fa-times" id="close"></i>
                </button>
                <nav id="navMobile">
                    <div>
                        <ul>
                            <li><a href="/admin/crear">Crear presupuesto</a></li>
                            <li><a href="/user/cerrarSesion">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="navDiv">
                <p><a href="/admin/crear">Crear presupuesto</a></p>
                <p><a href="/user/cerrarSesion">Cerrar sesión</a></p>
            </div>
        </div>
        <article>
            <small><i class="fas fa-phone-alt"></i> 1149690574</small>
            <small><i class="fas fa-envelope"></i> fedegar92@hotmail.com.ar</small>
        </article>
    </section>
</header>