<footer>
    <button class="homeNav"><a href="/"><i class="fas fa-home"></i></a></button>
        <div class="info">
            <p><i class="fab fa-whatsapp"></i> 1149690574</p>
            <p><i class="fas fa-map-marker-alt"></i> Olivos</p>
            <p><i class="far fa-clock"></i> Horario: Lunes a Sábados, 08:00hs a 18:00hs.</p>
        </div>
        <div class="redes">
            <i class="wpp fab fa-whatsapp-square"></i>
            <i class="fas fa-envelope-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
</footer>